# 1. Membaca Dataset

In [ ]:
# Mengimport library pandas untuk membaca dataset
import pandas as pd

# baca dataset csv menggunakan syntax pd.read_csv()
df = pd.read_csv('/content/Smartphones dataset.csv')

In [ ]:
df

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,701,20,Female,Undergraduate,Italy,4.7,TikTok,No,7.2,7,In Relationship,2,5
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,5,9
702,703,21,Female,Undergraduate,China,5.6,WeChat,Yes,6.7,6,In Relationship,3,7
703,704,24,Male,Graduate,Japan,4.3,Twitter,No,7.5,8,Single,2,4
704,705,19,Female,Undergraduate,Poland,6.2,Facebook,Yes,6.3,5,Single,4,8

# 2. Ringkasan Data

`info()` : berguna untuk memahami dengan cepat struktur dan konten DataFrame, membantu dalam eksplorasi dan persiapan data.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand_name                 980 non-null    object
 1   model                      980 non-null    object
 2   price                      980 non-null    int64
 3   rating                     879 non-null    float64
 4   has_5g                     980 non-null    bool
 5   has_nfc                    980 non-null    bool
 6   has_ir_blaster             980 non-null    bool
 7   processor_brand            960 non-null    object
 8   num_cores                  974 non-null    float64
 9   processor_speed            938 non-null    float64
 10  battery_capacity           969 non-null    float64
 11  fast_charging_available    980 non-null    int64
 12  fast_charging              769 non-null    float64
 13  ram_capacity               980 non-null    int64
 14  internal_memory            980 non-null    int64
 15  screen_size                980 non-null    float64
 16  refresh_rate               980 non-null    int64
 17  num_rear_cameras           980 non-null    int64
 18  num_front_cameras          976 non-null    float64
 19  os                         966 non-null    object
 20  primary_camera_rear        980 non-null    float64
 21  primary_camera_front       975 non-null    float64
 22  extended_memory_available  980 non-null    int64
 23  extended_upto              500 non-null    float64
 24  resolution_width           980 non-null    int64
 25  resolution_height          980 non-null    int64
dtypes: bool(3), float64(10), int64(9), object(4)
memory usage: 179.1+ KB

# 3. Mengecek Data yang Hilang (Missing Value)

In [ ]:
# mengecek missing value
df.isna().sum()

brand_name                     0
model                          0
price                          0
rating                       101
has_5g                         0
has_nfc                        0
has_ir_blaster                 0
processor_brand               20
num_cores                      6
processor_speed               42
battery_capacity              11
fast_charging_available        0
fast_charging                211
ram_capacity                   0
internal_memory                0
screen_size                    0
refresh_rate                   0
num_rear_cameras               0
num_front_cameras              4
os                            14
primary_camera_rear            0
primary_camera_front           5
extended_memory_available      0
extended_upto                480
resolution_width               0
resolution_height              0
dtype: int64

jhuyhwfneugyfyjefn ncbej

**Observasi:**

Dari informasi yang kita dapatkan pada data terdapat beberapa data yang hilang pada kolom 'rating, processor brand, processor speed, battery capacity, fast charging, num front cameras, os, primary camera front and extended upto'

In [ ]:

# cek statiscial summary
df.describe()

,Team_Size,Project_Budget_USD,Estimated_Timeline_Months,Complexity_Score,Stakeholder_Count,Past_Similar_Projects,External_Dependencies_Count,Change_Request_Frequency,Team_Turnover_Rate,Vendor_Reliability_Score,...,Market_Volatility,Integration_Complexity,Resource_Availability,Organizational_Change_Frequency,Cross_Functional_Dependencies,Previous_Delivery_Success_Rate,Technical_Debt_Level,Project_Start_Month,Current_Phase_Duration_Months,Seasonal_Risk_Factor
count,4000.000000,4.000000e+03,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,...,4000.00000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.00000,4000.000000,4000.000000,4000.000000
mean,15.388250,1.143032e+06,17.147750,6.192525,11.130500,1.973750,3.127750,1.638080,0.292725,0.712087,...,0.49716,5.573585,0.651695,1.212215,3.549250,0.750437,0.17544,6.492500,4.074500,1.011325
std,9.220969,5.908781e+05,6.926609,2.212538,4.425875,1.750093,1.609216,1.170451,0.166546,0.163418,...,0.28702,2.606654,0.201163,0.969191,2.320004,0.143712,0.29682,3.476416,2.883926,0.031694
min,2.000000,1.593555e+05,2.000000,1.620000,2.000000,0.000000,0.000000,0.010000,0.000000,0.090000,...,0.00000,1.000000,0.300000,0.000000,0.000000,0.150000,0.00000,1.000000,1.000000,1.000000
25%,9.000000,6.925329e+05,12.000000,4.460000,8.000000,1.000000,2.000000,0.760000,0.160000,0.600000,...,0.25000,3.317500,0.480000,0.500000,2.000000,0.660000,0.00000,4.000000,2.000000,1.000000
50%,13.000000,1.007472e+06,17.000000,6.015000,10.000000,2.000000,3.000000,1.370000,0.270000,0.730000,...,0.50000,5.600000,0.650000,0.960000,4.000000,0.770000,0.00000,7.000000,3.000000,1.000000
75%,20.000000,1.475870e+06,22.000000,7.862500,14.000000,3.000000,4.000000,2.230000,0.400000,0.840000,...,0.74000,7.860000,0.820000,1.660000,6.000000,0.860000,0.28000,10.000000,6.000000,1.000000
max,50.000000,3.768354e+06,36.000000,10.000000,29.000000,10.000000,7.000000,8.840000,0.850000,1.000000,...,1.00000,10.000000,1.000000,8.230000,7.000000,0.990000,1.00000,12.000000,17.000000,1.100000

In [ ]:
df['model'].describe()

count                        980
unique                       980
top       Samsung Galaxy M52s 5G
freq                           1
Name: model, dtype: object

In [ ]:
df['brand_name'].describe()

count        980
unique        46
top       xiaomi
freq         134
Name: brand_name, dtype: object

In [ ]:
df['processor_brand'].describe()

count            960
unique            13
top       snapdragon
freq             413
Name: processor_brand, dtype: object

In [ ]:
df['os'].describe()

count         966
unique          3
top       android
freq          909
Name: os, dtype: object

In [ ]:
check_duplicate = df.duplicated().sum()

print(f"Jumlah data yang duplikat = {check_duplicate}")

Jumlah data yang duplikat = 0

**Observasi:**
* Secara keseluruhan, nilai minimum dan maksimum masuk akal untuk setiap kolom
* _Mean ~ 50% (Median)_ di kolom `gre_score`, `toefl_score`, dan `gpa`, menunjukkan distribusi normal
* Kolom `admit_status` adalah kolom boolean/biner karena nilainya 0 atau 1, tidak perlu menyimpulkan kesimetrisannya. Hanya perlu memeriksa *balance level*
* `univ_ranking`, `motiv_letter_strength`, dan `recommendation_strength` adalah nilai-nilai diskrit dengan jumlah nilai unik yang tidak banyak, distribusi nilai perlu diperiksa kemudian.

In [ ]:
# Mengatasi missing value
for column in df.columns:
    if df[column].dtype == 'object':
        # Jika kolom bertipe object, isi dengan mode
        df[column].fillna(df[column].mode()[0], inplace=True)
    else:
        # Jika kolom bertipe numerik, isi dengan mean
        df[column].fillna(df[column].mean(), inplace=True)

/tmp/ipython-input-30-3213337050.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mode()[0], inplace=True)
/tmp/ipython-input-30-3213337050.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)

In [ ]:
# cek kembali missing value
df.isna().sum()

brand_name                   0
model                        0
price                        0
rating                       0
has_5g                       0
has_nfc                      0
has_ir_blaster               0
processor_brand              0
num_cores                    0
processor_speed              0
battery_capacity             0
fast_charging_available      0
fast_charging                0
ram_capacity                 0
internal_memory              0
screen_size                  0
refresh_rate                 0
num_rear_cameras             0
num_front_cameras            0
os                           0
primary_camera_rear          0
primary_camera_front         0
extended_memory_available    0
extended_upto                0
resolution_width             0
resolution_height            0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 51 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Project_ID                       4000 non-null   object
 1   Project_Type                     4000 non-null   object
 2   Team_Size                        4000 non-null   int64
 3   Project_Budget_USD               4000 non-null   float64
 4   Estimated_Timeline_Months        4000 non-null   int64
 5   Complexity_Score                 4000 non-null   float64
 6   Stakeholder_Count                4000 non-null   int64
 7   Methodology_Used                 4000 non-null   object
 8   Team_Experience_Level            4000 non-null   object
 9   Past_Similar_Projects            4000 non-null   int64
 10  External_Dependencies_Count      4000 non-null   int64
 11  Change_Request_Frequency         4000 non-null   float64
 12  Project_Phase                    4000 non-null   object
 13  Requirement_Stability            4000 non-null   object
 14  Team_Turnover_Rate               4000 non-null   float64
 15  Vendor_Reliability_Score         4000 non-null   float64
 16  Historical_Risk_Incidents        4000 non-null   int64
 17  Communication_Frequency          4000 non-null   float64
 18  Regulatory_Compliance_Level      4000 non-null   object
 19  Technology_Familiarity           4000 non-null   object
 20  Geographical_Distribution        4000 non-null   int64
 21  Stakeholder_Engagement_Level     4000 non-null   object
 22  Schedule_Pressure                4000 non-null   float64
 23  Budget_Utilization_Rate          4000 non-null   float64
 24  Executive_Sponsorship            4000 non-null   object
 25  Funding_Source                   4000 non-null   object
 26  Market_Volatility                4000 non-null   float64
 27  Integration_Complexity           4000 non-null   float64
 28  Resource_Availability            4000 non-null   float64
 29  Priority_Level                   4000 non-null   object
 30  Organizational_Change_Frequency  4000 non-null   float64
 31  Cross_Functional_Dependencies    4000 non-null   int64
 32  Previous_Delivery_Success_Rate   4000 non-null   float64
 33  Technical_Debt_Level             4000 non-null   float64
 34  Project_Manager_Experience       4000 non-null   object
 35  Org_Process_Maturity             4000 non-null   object
 36  Data_Security_Requirements       4000 non-null   object
 37  Key_Stakeholder_Availability     4000 non-null   object
 38  Tech_Environment_Stability       4000 non-null   object
 39  Contract_Type                    4000 non-null   object
 40  Resource_Contention_Level        4000 non-null   object
 41  Industry_Volatility              4000 non-null   object
 42  Client_Experience_Level          4000 non-null   object
 43  Change_Control_Maturity          4000 non-null   object
 44  Risk_Management_Maturity         4000 non-null   object
 45  Team_Colocation                  4000 non-null   object
 46  Documentation_Quality            4000 non-null   object
 47  Project_Start_Month              4000 non-null   int64
 48  Current_Phase_Duration_Months    4000 non-null   int64
 49  Seasonal_Risk_Factor             4000 non-null   float64
 50  Risk_Level                       4000 non-null   object
dtypes: float64(15), int64(10), object(26)
memory usage: 1.6+ MB

# 4. Mengatasi Duplikat Data

In [ ]:
# Mengecek apakah ada duplicate di seluruh kolom
check_duplicate = df.duplicated().sum()

print(f"Jumlah data yang duplikat = {check_duplicate}")

Jumlah data yang duplikat = 0

In [ ]:
# Handling duplicate
df = df.drop_duplicates()

In [ ]:
# Mengecek duplicate setelah di-handle
handle_duplicate = df.duplicated().sum()

print(f"Jumlah data yang duplikat = {handle_duplicate}")

Jumlah data yang duplikat = 0